<link rel="stylesheet" type="text/css" href="../css/comuna3.css">
<body>
    <section class="mt-cr">
        <div class="container">
            <h1>Sitios destacados de la <span style="color:#F77F00;">comuna 2 </span></h1>

        </div>
    </section>

    <section class="section-with-carousel section-with-right-offset position-relative mt-5">
        <div class="container">
            <h2 class="mb-3">Galería</h2>
        </div>
        <div class="carousel-wrapper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="480" src="../images/territorio/uvacafebar.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Uva Café Bar, La Florida
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/supermercadola80.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Supermercado la 80, Cabañas
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/parquerecreativoobrero.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Parque recreativo Gran Avenida
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/parquerecreativoobrero1.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Parque recreativo Gran Avenida
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/natipan.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Natipan, La Florida
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="480" src="../images/territorio/natipan1.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Natipan, La Florida
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/metromall.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Metro Mall, La Madera
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/metromall1.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Metro Mall, La Madera
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/metrocencosud.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Metro Cencosud, La Madera
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/jic.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Politécnico Jaime Isaza Cadavid, La Florida
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/jic1.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Politécnico Jaime Isaza Cadavid, La Florida
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/arboleda.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Parque la Arboleda, La Florida
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/arboleda1.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Parque la Arboleda, La Florida
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/arboleda2.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Parque la Arboleda, La Florida
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-controls">
            <button class="carousel-control carousel-control-left" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40">
                    <path fill-rule="evenodd" d="M10.78 19.03a.75.75 0 01-1.06 0l-6.25-6.25a.75.75 0 010-1.06l6.25-6.25a.75.75 0 111.06 1.06L5.81 11.5h14.44a.75.75 0 010 1.5H5.81l4.97 4.97a.75.75 0 010 1.06z"></path>
                </svg>
            </button>
            <button class="carousel-control carousel-control-right" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40">
                    <path fill-rule="evenodd" d="M13.22 19.03a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06l-6.25-6.25a.75.75 0 10-1.06 1.06l4.97 4.97H3.75a.75.75 0 000 1.5h14.44l-4.97 4.97a.75.75 0 000 1.06z"></path>
                </svg>
            </button>
        </div>
        <div class="swiper-pagination"></div>
    </section>

    <section class="mt-5">
        <div class="container">
            <h2 class="mb-3">
                Comuna llena de lugares para juntarse con amigos y un lugar perfecto para convivir
            </h2>
            <p>
                Descubre la Parroquia San José Obrero en el encantador Barrio Obrero, un refugio de fe y comunidad con una historia profunda.
                La fábrica de panes de Natipan no es solo un lugar de producción de deliciosos panes; es un espacio en el que la comunidad se conecta, comparte y disfruta.
                La Arboleda, un refugio en medio de la naturaleza, un parque al aire libre que ofrece una experiencia única.
            </p>
        </div>
    </section>

    <section class="section-with-carousel section-with-left-offset position-relative mt-5">
        <div class="container">
            <h2 class="mb-3">Más sitios agradables para ti</h2>
        </div>
        <div class="carousel-wrapper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="480" src="../images/territorio/iglesiasantaclara.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Iglesia Santa Clara de Asís, Cabañas
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/iglesiaprovidencia.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Iglesia Nuestra Señora de la Providencia, Barrio Nuevo
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/iglesiaprovidencia1.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Iglesia Nuestra Señora de la Providencia, Barrio Nuevo
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/estmadera.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Estación Madera del Metro, La Madera
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/estmadera1.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Estación Madera del Metro, La Madera
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="480" src="../images/territorio/epssura.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                IPS Coomsocial Sura - Barrio Obrero
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/coopantex.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Cooperativa Financiera Coopantex
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/coopantex1.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Cooperativa Financiera Coopantex
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/colegiosanfrancisco.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Colegio San Francisco de Asís, La Florida
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/colegiosanbuenaventura.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Colegio San Buenaventura, Cabañas
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/colegiobethlemitas.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                Colegio Las Bethlemitas, Cabañas
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/colegioatanasio.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                I.E Atanasio Girardot, Barrio Nuevo
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/casaazul.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                COSFA, La Florida
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure>
                            <img width="640" height="427" src="../images/territorio/casaazul1.jpeg" alt="">
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                    <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                                </svg>
                                COSFA, La Florida
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-controls">
            <div class="carousel-control carousel-control-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40">
                    <path fill-rule="evenodd" d="M10.78 19.03a.75.75 0 01-1.06 0l-6.25-6.25a.75.75 0 010-1.06l6.25-6.25a.75.75 0 111.06 1.06L5.81 11.5h14.44a.75.75 0 010 1.5H5.81l4.97 4.97a.75.75 0 010 1.06z"></path>
                </svg>
            </div>
            <div class="carousel-control carousel-control-right">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40">
                    <path fill-rule="evenodd" d="M13.22 19.03a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06l-6.25-6.25a.75.75 0 10-1.06 1.06l4.97 4.97H3.75a.75.75 0 000 1.5h14.44l-4.97 4.97a.75.75 0 000 1.06z"></path>
                </svg>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </section>
    <script>
        const sectionsWithCarousel = document.querySelectorAll(
            ".section-with-carousel"
        );

        createOffsets();
        window.addEventListener("resize", createOffsets);

        function createOffsets() {
            const sectionWithLeftOffset = document.querySelector(
                ".section-with-left-offset"
            );
            const sectionWithLeftOffsetCarouselWrapper = sectionWithLeftOffset.querySelector(
                ".carousel-wrapper"
            );
            const sectionWithRightOffset = document.querySelector(
                ".section-with-right-offset"
            );
            const sectionWithRightOffsetCarouselWrapper = sectionWithRightOffset.querySelector(
                ".carousel-wrapper"
            );
            const offset = (window.innerWidth - 1900) / 2;
            const mqLarge = window.matchMedia("(min-width: 1200px)");

            if (sectionWithLeftOffset && mqLarge.matches) {
                sectionWithLeftOffsetCarouselWrapper.style.marginLeft = offset + "px";
            } else {
                sectionWithLeftOffsetCarouselWrapper.style.marginLeft = 0;
            }

            if (sectionWithRightOffset && mqLarge.matches) {
                sectionWithRightOffsetCarouselWrapper.style.marginRight = offset + "px";
            } else {
                sectionWithRightOffsetCarouselWrapper.style.marginRight = 0;
            }
        }

        for (const section of sectionsWithCarousel) {
            let slidesPerView = [1.5, 2.5, 3.5];
            if (section.classList.contains("section-with-left-offset")) {
                slidesPerView = [1.5, 1.5, 2.5];
            }
            const swiper = section.querySelector(".swiper");
            new Swiper(swiper, {
                slidesPerView: slidesPerView[0],
                spaceBetween: 15,
                loop: true,
                lazyLoading: true,
                keyboard: {
                    enabled: true
                },
                navigation: {
                    prevEl: section.querySelector(".carousel-control-left"),
                    nextEl: section.querySelector(".carousel-control-right")
                },
                pagination: {
                    el: section.querySelector(".swiper-pagination"),
                    clickable: true,
                    renderBullet: function (index, className) {
                        return `<div class=${className}>
                    <span class="number">${index + 1}</span>
                    <span class="line"></span>
                </div>`;
                    }
                },
                breakpoints: {
                    768: {
                        slidesPerView: slidesPerView[1]
                    },
                    1200: {
                        slidesPerView: slidesPerView[2]
                    }
                }
            });
        }

    </script>
</body>
