<!DOCTYPE html>
@model List<casa_relato.Models.ReseñasModel>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/dist/css/referencias.css">
</head>

<body>


    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container comment-container">
        <h2>Comentarios</h2>

        @foreach (var comentario in Model)
        {
            <div class="comment">
                <h3>@comentario.UserName</h3>
                <p>@comentario.Comentario</p>
            </div>
        }
        <!-- Agrega más comentarios aquí -->

        <h2>Deja tu comentario</h2>
        <form id="comment-form" method="post" asp-action="InsertComment" asp-controller="Reseñas">
            <div class="form-group">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="comment">Comentario:</label>
                <textarea id="comment" name="comment" rows="4" class="form-control" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Publicar Comentario</button>
        </form>
    </div>
</body>
</html>
