<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/dist/css/referencias.css">
</head>

<body>


    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container comment-container">
        <h2>Comentarios</h2>
        <div class="comment">
            <h3>Davidslf01</h3>
            <p>Me encanta el lugar, es muy agradable y tiene en él mucho arte que llama la atención</p>
        </div>
        <div class="comment">
            <h3>Aghost0626</h3>
            <p>Me gusta mucho sus malteadas y la energía tan positiva que maneja el espacio</p>
        </div>
        <!-- Agrega más comentarios aquí -->

        <h2>Deja tu comentario</h2>
        <form id="comment-form">
            <div class="form-group">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="comment">Comentario:</label>
                <textarea id="comment" name="comment" rows="4" class="form-control" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Publicar Comentario</button>
        </form>
    </div>
</body>
</html>
