@using casa_relato.Common;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Casa Relato</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/dist/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/dist/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/assets/owl.carousel.css">
    <link rel="stylesheet" href="https://themes.audemedia.com/html/goodgrowth/css/owl.theme.default.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script src="~/dist/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/dist/js/inicio.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/owl.carousel.min.js"></script>
    <script async src="//www.instagram.com/embed.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar shadow-sm fixed-top">
            <div class="navbar-container container-nav">
                <input type="checkbox" name="" id="">
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a href="~/Quienes_Somos/Index">Quienes somos</a></li>
                    <li><a href="~/Agenda/Index">Agenda</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Lineas de trabajo
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item dropdown-toggle" href="#">
                                    Café cultural
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" href="/CafeCultural/Index">Inicio</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="~/Tienda/Index">Tienda</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a class="dropdown-item dropdown-toggle" href="#">
                                    Desarrollo humano
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" href="~/DesarrolloHumano/Index">Inicio</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="~/Biblioteca/Index">Biblioteca</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a class="dropdown-item dropdown-toggle" href="#">
                                    Identidad territorial
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" href="~/IdentidadTerritorial/Index">Inicio</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="~/Relatos/Index">Relatos</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="~/Comuna2/Index">Comuna 2</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="~/Comuna3/Index">Comuna 3</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a class="dropdown-item dropdown-toggle" href="#">
                                    Gestión cultural
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" href="~/GestionCultural/Index">Inicio</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a class="dropdown-item dropdown-toggle" href="#">
                                    Movilización social
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" href="~/MovilizacionSocial/Index">Inicio</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="~/Reseñas/Index">Reseñas</a></li>
                    <li><a href="~/Aliados/Index">Aliados</a></li>
                    <li><a href="~/contactanos/Index">Contáctanos</a></li>
                    @if (CommonUtils.Success)
                    {
                        <li><a class="btn-casa-relato" href="~/Iniciar_Sesion/CerrarSesion">Cerrar Sesión</a></li>
                    }
                    else
                    {

                        <li><a class="btn-casa-relato" href="~/Iniciar_Sesion/Index">Iniciar sesión</a></li>
                    }
                    

                </ul>
                <a href="/">
                    <img class="logo" src="~/images/logo.jpg" alt="logo de casa relato">
                </a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: white">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="../images/logo.jpg" alt="Logo oficial" class="img-footer" />
                </div>
                <div class="col-3">
                    <ul class="footer-1">
                        <li class="t-footer-section">Sobre nosotros</li>
                        <li><a href="#">Nuestros valores</a></li>
                        <li><a href="#">Agenda de eventos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="footer-1">
                        <li class="t-footer-section">Nuestros servicios</li>
                        <li><a href="#">Ver productos</a></li>
                        <li><a href="#">Ubicación</a></li>
                        <li><a href="#"></a>Reseñas</li>
                    </ul>
                </div>
                <div class="col-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15861.872189625723!2d-75.5599065!3d6.3333591!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442fad1900c0bd%3A0xf6c01c02260b7d92!2sCasa%20Relato!5e0!3m2!1ses!2sco!4v1697920031533!5m2!1ses!2sco" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-12 text-center">
                    &copy; 2023 - Casa relato - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
