<body>
    <div class="container mt-cr">
        <div class="row">
            <div class="col-12">
                <h1>Identidad Territorial</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <i class="fas fa-star" style="color:#F77F00;"></i> Fortalecer la identidad territorial mediante
                    programas educativos que resalten la historia, cultura y tradiciones locales, involucrando activamente
                    a la comunidad en la preservación y promoción de su patrimonio.

                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4 class="fw-bold">Estrategias:</h4>
                <ul>
                    <li>Memorias del barrio.</li>
                    <li>Referentes identitarios.</li>
                    <li>
                        Entre Bellos Recuerdos.
                    </li>
                    <li>
                        Recorridos de conexión patrimonial.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mt-5" style="background: #f9f9f9;padding-top:3em">
            <div class="col-12">
                <p class="text-center" style="width: 40vw;font-size: 20px;margin-left: 12vw;">
                    En Bello, ciudad de artistas y tejedoras,
                    donde el arte y la creatividad son joyas preciosas,
                    la identidad territorial es un canto a la belleza,
                    un legado de colores que llena de fortaleza.
                    <br /><br />
                    Las calles son lienzos, los muros son murmullos,
                    donde artistas plasman sueños con trazos nulos,
                    pinturas que narran historias con corazón,
                    en Bello, el arte es el alma, la inspiración.
                    <br /><br />
                    Tejedoras de sueños, laboriosas y hábiles manos,
                    tejen hilos de tradición, como finos encajes tempranos,
                    en cada tejido, en cada punto y entrelazado,
                    la identidad de Bello es un legado conservado.
                    <br /><br />
                    El telar de la historia, donde cada hebra cuenta,
                    las raíces que se entrelazan, como un pacto que tienta,
                    la comunidad se une en esta danza de destreza,
                    tejiendo la identidad con esmero y pureza.
                    <br /><br />
                    Bello, en tu lienzo de montañas y cielo azul,
                    artistas y tejedoras encuentran su lugar,
                    en cada pincelada y en cada punto manual,
                    se plasma la esencia, el alma, el hogar.
                    <br /><br />
                    El arte florece en cada esquina y calle,
                    pinturas que cuentan historias de antaño,
                    tejidos que abrazan la tradición con detalle,
                    en Bello, la identidad es un tesoro temprano.
                    <br /><br />
                    Así, en Bello, la identidad florece y se entrelaza,
                    en cada obra de arte y en cada labor que abraza,
                    una ciudad que con orgullo su esencia proclama,
                    un legado de artistas y tejedoras que aclama.

                </p>
            </div>
        </div>
    </div>
</body>