@using casa_relato.Models
@model List<BibliotecaViewModel>
<link rel="stylesheet" type="text/css" href="../css/relatos.css">

<body style="background-color: white; margin-top: 8em;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <i class="fa-regular fa-comments"></i> <h2>Relatos que perduran </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="height: 22%">
                <img src="../images/portada-relatos.jpeg" class="imagen-portada"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p style="margin-top: 2em;">
                    Nuestra comunidad se une para compartir las historias que han sido transmitidas de generación en generación,
                    y también damos la bienvenida a colaboradores apasionados que desean añadir sus propios capítulos a esta crónica
                    en constante crecimiento. Juntos, construimos un archivo digital que rinde homenaje a los momentos,
                    las personas y las experiencias que han dado forma a nuestro querido municipio.
                </p>
            </div>
        </div>
        <!--Esto vendrá autogenerado de la base de datos-->
        <div class="row mt-5">
            <div class="col-4">
                <div class="caja-relato-1 shadow" onclick="expandir(1)">
                    <p class="titulo-relato">Un recorrido en donde lo común lo transformé en paisaje</p>
                    <span class="autor">Natalia G</span>
                    <p class="cuerpo-relato-1">
                        Muchos hemos crecido en un municipio o pueblo en el cual no somos conscientes de lo maravilloso que es y toda la riqueza que tiene, y yo, he sido en la mayoría de veces esta persona.
                        Bello es la cuna de mi crianza y mi desarrollo, aunque toda mi vida he vivido aquí, puedo decir que lo conozco y que al mismo tiempo me falta mucho por conocer. Coincidir con Casa Relato es la oportunidad de retomar ese sentido de pertenencia por mi municipio y que todos tenemos dentro.
                        Iniciar recordando viejos lugares los cuales hoy en día ya tienen otro motivo de ser, nos enseña que siempre nos podemos reinventar y que nunca es tarde para ello; luego comprender el motivo de inspiración de cierto lugares como por ejemplo “Lukas Arte Café Bar” es un momento en el cual te das cuenta que como personas y sociedad necesitamos espacios para compartir ideas y además de ello, para lograr facilitar esos momentos que nos ayudan a crecer como sociedad por medio de espacios sociales.
                        A su vez los seres humanos necesitamos lugares de ocio y muchos rincones de bello nos permiten hacerlo y además nos mantienen viva la esencia de muchos años atrás en donde las formas de distraerte eran salir al parque, jugar juegos de azar, ir a un café o a una panadería y tomar algo etcétera. Muchos de esos lugares prevalecen gracias a que contamos con una población adulta activa y entusiasta a seguir compartiendo sus momentos entre sí.
                        Bello es un lugar que tiene mucho por ofrecer, pero también lastimosamente no hemos tenido una buena gestión administrativa, pero pese a eso las personas que habitamos aquí, al igual que Casa Relato tratamos de cuidar y difundir todo lo lindo y especial que es el municipio. Cada rincón es un lugar lleno de alegría, la gente cantando, contando historias del municipio, tocando uno o muchos instrumentos, vendiendo sus productos hechos en sus hogares y familias y mucho más podemos ver y encontrar si tan solo hacemos un recorrido donde lo común se vuelva paisaje.
                    </p>
                    <div class="row">
                        <div class="col-1"><i class="fa-solid fa-eye"></i></div>
                        <div class="col-1">5</div>
                        <div class="col-1"><a href="#"><i class="fa-solid fa-heart" style="color:#F77F00"></i></a></div> <!-- Conteo para los likes-->
                        <div class="col-1">6</div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="caja-relato-2 shadow" onclick="expandir(2)">
                    <p class="titulo-relato">Festival la Isla</p>
                    <span class="autor">Natalia G</span>
                    <p class="cuerpo-relato-2">
                        Los festivales, son encuentros en dónde dejamos todas nuestras expectativas al margen de lo que nuestros ojos pueden ver, los oídos escuchar y finalmente nuestras voces contar. El festival la Isla, surge de la intención de hacer visibles muchos de los tantos talentos que en nuestro municipio tenemos presente pero que no percibimos con frecuencia. La poesía, el arte, la música, los espíritus emprendedores y mucho más hicieron parte de este día tan maravilloso, porque pudimos descubrir que sólo se necesitan ganas, apoyo e inspiración, para que como humanos y personas podamos compartir lo que más nos caracteriza entre sí, y es nuestra pasión por encontrarnos en lugares en dónde demostremos nuestros talentos y aquello por lo cuál, podemos sentir, que aportamos un granito de arena a nuestra construcción social y cultural.
                        Haber sido parte de este momento, nos permite, primero, dicho de manera coloquial “cambiar el chip”, es un festival, que cómo tal, es su primera versión, pero tenemos que destacar que en él, pudimos tener reunidos muchos artistas. Las presentaciones musicales nos acariciaron los oídos con la diversidad de géneros, instrumentos y voces que pudimos escuchar, todos, mostrándonos que como comunidad y localidad, no sólo somos dos, tres géneros, sino muchos más y lo bonito de todo esto, es ver como cada agrupación que hizo parte de estas presentaciones, utiliza un género pero le da su propio matiz, y de esto, es que nos debemos sentir orgullosos como Bellanitas, porque realmente podemos llegar muy lejos si permitimos que eventos como el de La Isla, tengan mas visibilización y apoyo por parte de medios tradicionales, de comunidades allegadas, y personas influyentes que ayuden a atraer público y permitan que estos eventos arrasen con las expectativas de sus organizadores.
                        Poder lograr tener una comunidad reunida, no es fácil, sin embargo los chicos que organizaron el evento, desempeñaron un trabajo excelente ya que tuvieron bastante acogida para ser su primera vez, vimos que en el trascurso de la tarde, más y más personas iban llegando a disfrutar tanto las puestas en escena artísticas y a su vez, apoyar el talento local no sólo viendo las presentaciones, sino, comprando a todos esos emprendedores que decidieron hacer parte de este gran momento.
                        No podemos hacer de lado, que somos un municipio lleno de muchas cosas bonitas, que así como tenemos lugares y paisajes increíbles, también tenemos personas, amigos y vecinos que nos tienen mucho por entregar, y en el festival La Isla, nos dimos cuenta de esto y pudimos disfrutar de un rato agradable y con un gran ambiente de festival y unión.
                    <div class="row">
                        <div class="col-1"><i class="fa-solid fa-eye"></i></div>
                        <div class="col-1">5</div>
                            <div class="col-1"><a href="#"><i class="fa-solid fa-heart" style="color:#F77F00"></i></a></div> <!-- Conteo para los likes-->
                        <div class="col-1">9</div>
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
    </div>
    <script>
        function expandir(num) {
            document.querySelector('.caja-relato-'+num).classList.toggle('caja-expand');
            document.querySelector('.cuerpo-relato-'+num).classList.toggle('cuerpo-expand');
        }
            
    </script>
</body>