<body>
    <div class="container mt-cr">
        <div class="row">
            <div class="col-12">
                <h1>Desarrollo Humano</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <i class="fas fa-star" style="color:#F77F00;"></i> Promover el desarrollo humano integral a través de un
                    enfoque holístico que abarque aspectos físicos, emocionales, intelectuales y sociales, fortaleciendo la
                    capacidad de la comunidad para alcanzar su máximo potencial y bienestar.

                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4 class="fw-bold">Estrategias:</h4>
                <ul>
                    <li>Bootcamp Habilidades.</li>
                    <li>Consultorio Psicológico.</li>
                    <li>
                        Consultorio Jurídico.
                    </li>
                    <li>
                        Circulo de Mujeres.
                    </li>
                    <li>
                        Redes de apoyo.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mt-5" style="background: #f9f9f9;padding-top:3em">
            <div class="col-12">
                <p class="text-center" style="width: 40vw;font-size: 20px;margin-left: 12vw;">
                    El desarrollo humano, un camino sin final,
                    donde el ser florece, como un árbol celestial,
                    cada paso, un suspiro, un sueño por alcanzar,
                    cada día, una página en el libro de brillar.
                    <br /><br />
                    Es el arte de crecer, no solo en estatura,
                    sino en sabiduría, en amor y en ternura,
                    es el eco de risas, de lágrimas y sueños,
                    es el latido profundo que late en nuestros pechos.
                    <br /><br />
                    En cada niño que aprende a dar sus primeros pasos,
                    en cada anciano que comparte sus sabios abrazos,
                    en cada madre que cuida con amor sincero,
                    en cada padre que guía con un gesto certero.
                    <br /><br />
                    Es la música del alma, es el amor que se da,
                    es la lucha por la justicia, la igualdad, la paz,
                    es el valor de un corazón lleno de empatía,
                    es el brillo en los ojos cuando el alma sonríe.
                    <br /><br />
                    El desarrollo humano es un poema en danza,
                    una melodía eterna, una esperanza templanza,
                    un canto a la vida, a la humanidad que avanza,
                    un faro en la noche, una luz de bonanza.
                    <br /><br />
                    Así es el desarrollo humano, un verso eterno,
                    en el libro de la vida, un capítulo sincero,
                    un viaje en constante crecimiento y descubrimiento,
                    una sinfonía de amor, en cada momento.
                    <br /><br />
                    En Casa Relato, Bello se une al llamado,
                    el desarrollo humano en cada paso es revelado,
                    un rincón de cultura y arte, como un tejido sagrado,
                    donde los sueños florecen, en un canto entrelazado.
                </p>
            </div>
        </div>
    </div>
</body>
