<link rel="stylesheet" type="text/css" href="../css/quienessomos.css">
<body>
    <section class="section_all" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title_all text-center">
                        <h3 class="font-weight-bold">Bienvenido a <span class="text-custom">Casa Relato</span></h3>
                        <p class="section_subtitle mx-auto text-muted">
                            Somos Casa Relato, el epicentro de la memoria viva y la diversidad cultural en Bello.
                        </p>
                        <div class="">
                            <i class=""></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row vertical_content_manage mt-5">
                <div class="col-lg-6">
                    <div class="about_header_main mt-3">
                        <div class="about_icon_box">
                            <p class="text_custom font-weight-bold">¿Quiénes somos?</p>
                        </div>
                        <h4 class="about_heading font-weight-bold mt-4">Descubre cómo a través de una taza de café podemos mantener viva la rica cultura de nuestro municipio.</h4>
                        <p class="text-muted mt-3">
                            A través de experiencias excepcionales que entrelazan la magia del café, fortalecemos la identidad
                            territorial, promovemos el desarrollo humano integral, fomentamos la gestión cultural y movilizamos
                            a nuestra comunidad en torno a temas fundamentales. Nuestra misión es contribuir a la construcción
                            de un futuro cultural vibrante y enriquecedor para todos.
                        </p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img_about mt-3">
                        <img src="../images/logo.jpg" alt="Logo de la corporación" class="img-fluid mx-auto d-block" width="300">
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-lg-4">
                    <div class="about_content_box_all mt-3">
                        <div class="about_detail text-center">
                            <div class="about_icon" style="font-size: 30px; color: #F77F00;">
                                <i class="fa-regular fa-compass"></i>
                            </div>
                            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Misión</h5>
                            <p class="edu_desc mt-3 mb-0 text-muted">
                                Casa Relato es un café cultural comprometido con la preservación
                                y promoción de la memoria viva del municipio de Bello. En donde se fomenta la cultura del encuentro,
                                celebrando y honrando la diversidad cultural y construyendo nuevas narrativas de ciudad,
                                impregnadas por la magia del café. Trabajamos incansablemente para crear un espacio donde
                                las voces del pasado y del presente convergen, inspirando un futuro cultural vibrante y
                                enriquecedor para todos.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="about_content_box_all mt-3">
                        <div class="about_detail text-center">
                            <div class="about_icon" style="font-size: 30px; color: #F77F00;">
                                <i class="fa-solid fa-mountain"></i>
                            </div>
                            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Visión</h5>
                            <p class="edu_desc mb-0 mt-3 text-muted">
                                Para el año 2026, nos proyectamos como un centro cultural
                                destacado en la promoción de iniciativas de memoria viva en el municipio de Bello.
                                A través de la magia del café, seremos un catalizador que inspira el intercambio de ideas,
                                el florecimiento del arte y la creatividad. Celebraremos la riqueza de la diversidad cultural
                                y enriqueceremos la agenda pública de la ciudad, contribuyendo al entendimiento y la apreciación
                                de nuestra valiosa herencia cultural.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="about_content_box_all mt-3">
                        <div class="about_detail text-center">
                            <div class="about_icon" style="font-size: 30px; color: #F77F00;">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Valores </h5>
                            <p class="edu_desc mb-0 mt-3 text-muted">
                                <ul>
                                    <li>Cuidado</li>
                                    <li>Juntanza</li>
                                    <li>Aprendizaje</li>
                                    <li>Integridad</li>
                                    <li>Sostenibilidad</li>
                                    <li>Diversidad e inclusión</li>
                                    <li>Creatividad e innovación</li>
                                    <li>Calidad y excelencia</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row my-5">
        <div class="col-lg-12">
            <img src="../images/planeacion.jpeg" alt="Esquema de planeación" class="img-fluid mx-auto d-block text-center" width="1200" />
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12">
            <section class="teams" style="width:100%;">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="fw-bold">Conoce a nuestro equipo</h2>
                            <p>
                                En Casa Relato, somos como las palabras de un cuento, cada uno de nosotros es una pieza
                                única que se combina para tejer historias extraordinarias. Permíteme presentarte a los
                                maestros de nuestra narrativa, los arquitectos de nuestros relatos, el increíble equipo que da
                                vida a nuestros sueños.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-12">
                            <div id="customers-teams" class="owl-carousel">

                                <!--team 1 -->
                                <div class="item">
                                    <div class="shadow-effect">
                                        <img class="img-circle" src="../images/mateorojas.png">
                                        <h2>Mateo Rojas</h2>
                                        <p class="title">Psicólogo</p>
                                        <div id="pastexp">
                                            <!--<h5 id="pastexphead">RESEARCH SCHOLAR</h5>-->
                                        </div>
                                        <div class="social-icons" id="teamsocial">
                                            <a class="social-icon social-icon--facebook" id="socialicon">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                            <a class="social-icon social-icon--twitter" id="socialicon">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                            <a class="social-icon social-icon--correo" id="socialicon">
                                                <i class="fa-regular fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="shadow-effect">
                                        <img class="img-circle" src="../images/elianazapata.png">
                                        <h2>Eliana Zapata</h2>
                                        <p class="title">Administradora</p>
                                        <div id="pastexp">
                                            <!--<h5 id="pastexphead">RESEARCH SCHOLAR</h5>-->
                                        </div>
                                        <div class="social-icons" id="teamsocial">
                                            <a class="social-icon social-icon--facebook" id="socialicon">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                            <a class="social-icon social-icon--twitter" id="socialicon">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                            <a class="social-icon social-icon--correo" id="socialicon">
                                                <i class="fa-regular fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="shadow-effect">
                                        <img class="img-circle" src="../images/albeiroyepes.png">
                                        <h2>Albeiro Yepes</h2>
                                        <p class="title">Trabajador social</p>
                                        <div id="pastexp">
                                            <!--<h5 id="pastexphead">RESEARCH SCHOLAR</h5>-->
                                        </div>
                                        <div class="social-icons" id="teamsocial">
                                            <a class="social-icon social-icon--facebook" id="socialicon">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                            <a class="social-icon social-icon--twitter" id="socialicon">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                            <a class="social-icon social-icon--correo" id="socialicon">
                                                <i class="fa-regular fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="shadow-effect">
                                        <img class="img-circle" src="../images/monicapalacio.png">
                                        <h2>Monica Palacio</h2>
                                        <p class="title">Terapeuta familiar</p>
                                        <div id="pastexp">
                                            <!--<h5 id="pastexphead">RESEARCH SCHOLAR</h5>-->
                                        </div>
                                        <div class="social-icons" id="teamsocial">
                                            <a class="social-icon social-icon--facebook" id="socialicon">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                            <a class="social-icon social-icon--twitter" id="socialicon">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                            <a class="social-icon social-icon--correo" id="socialicon">
                                                <i class="fa-regular fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="shadow-effect">
                                        <img class="img-circle" src="../images/valeriacifuentes.png">
                                        <h2>Valeria Cifuentes</h2>
                                        <p class="title">Gestora</p>
                                        <div id="pastexp">
                                            <!--<h5 id="pastexphead">RESEARCH SCHOLAR</h5>-->
                                        </div>
                                        <div class="social-icons" id="teamsocial">
                                            <a class="social-icon social-icon--facebook" id="socialicon">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                            <a class="social-icon social-icon--twitter" id="socialicon">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                            <a class="social-icon social-icon--correo" id="socialicon">
                                                <i class="fa-regular fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="shadow-effect">
                                        <img class="img-circle" src="../images/johnatanjimenez.png">
                                        <h2>Johnatan Jimenez</h2>
                                        <p class="title">Abogado</p>
                                        <div id="pastexp">
                                            <!--<h5 id="pastexphead">RESEARCH SCHOLAR</h5>-->
                                        </div>
                                        <div class="social-icons" id="teamsocial">
                                            <a class="social-icon social-icon--facebook" id="socialicon">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                            <a class="social-icon social-icon--twitter" id="socialicon">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                            <a class="social-icon social-icon--correo" id="socialicon">
                                                <i class="fa-regular fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                                <div class="item">
                                    <div class="shadow-effect">
                                        <img class="img-circle" src="../images/Psicóloga.png">
                                        <h2>Alejandra Valencia</h2>
                                        <p class="title">Psicóloga</p>
                                        <div id="pastexp">
                                            <!--<h5 id="pastexphead">RESEARCH SCHOLAR</h5>-->
                                        </div>
                                        <div class="social-icons" id="teamsocial">
                                            <a class="social-icon social-icon--facebook" id="socialicon">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                            <a class="social-icon social-icon--twitter" id="socialicon">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                            <a class="social-icon social-icon--correo" id="socialicon">
                                                <i class="fa-regular fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="shadow-effect">
                                        <img class="img-circle" src="../images/yudicellyzapata.png">
                                        <h2>Yudicelly Zapata</h2>
                                        <p class="title">Trabajadora social</p>
                                        <div id="pastexp">
                                            <!--<h5 id="pastexphead">RESEARCH SCHOLAR</h5>-->
                                        </div>
                                        <div class="social-icons" id="teamsocial">
                                            <a class="social-icon social-icon--facebook" id="socialicon">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                            <a class="social-icon social-icon--twitter" id="socialicon">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                            <a class="social-icon social-icon--correo" id="socialicon">
                                                <i class="fa-regular fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="shadow-effect">
                                        <img class="img-circle" src="../images/juancuartas.png">
                                        <h2>Juan Cuartas</h2>
                                        <p class="title">Creativo</p>
                                        <div id="pastexp">
                                            <!--<h5 id="pastexphead">RESEARCH SCHOLAR</h5>-->
                                        </div>
                                        <div class="social-icons" id="teamsocial">
                                            <a class="social-icon social-icon--facebook" id="socialicon">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                            <a class="social-icon social-icon--twitter" id="socialicon">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                            <a class="social-icon social-icon--correo" id="socialicon">
                                                <i class="fa-regular fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="shadow-effect">
                                        <img class="img-circle" src="../images/yasserorrego.png">
                                        <h2>Yasser Orrego</h2>
                                        <p class="title">Diseñador</p>
                                        <div id="pastexp">
                                            <!--<h5 id="pastexphead">RESEARCH SCHOLAR</h5>-->
                                        </div>
                                        <div class="social-icons" id="teamsocial">
                                            <a class="social-icon social-icon--facebook" id="socialicon">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                            <a class="social-icon social-icon--twitter" id="socialicon">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                            <a class="social-icon social-icon--correo" id="socialicon">
                                                <i class="fa-regular fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="shadow-effect">
                                        <img class="img-circle" src="../images/lilianatabares.png">
                                        <h2>Liliana Tabares</h2>
                                        <p class="title">Docente</p>
                                        <div id="pastexp">
                                            <!--<h5 id="pastexphead">RESEARCH SCHOLAR</h5>-->
                                        </div>
                                        <div class="social-icons" id="teamsocial">
                                            <a class="social-icon social-icon--facebook" id="socialicon">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                            <a class="social-icon social-icon--twitter" id="socialicon">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                            <a class="social-icon social-icon--correo" id="socialicon">
                                                <i class="fa-regular fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="shadow-effect">
                                        <img class="img-circle" src="../images/paulasarmiento.png">
                                        <h2>Paula Sarmiento</h2>
                                        <p class="title">Gestora cultural</p>
                                        <div id="pastexp">
                                            <!--<h5 id="pastexphead">RESEARCH SCHOLAR</h5>-->
                                        </div>
                                        <div class="social-icons" id="teamsocial">
                                            <a class="social-icon social-icon--facebook" id="socialicon">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                            <a class="social-icon social-icon--correo" id="socialicon">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                            <a class="social-icon social-icon--correo" id="socialicon">
                                                <i class="fa-regular fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h3 class="text-center">Recuperemos juntos la memoria histórica de nuestra ciudad, hilando aquellos viejos recuerdos, impregnados de sentires y emociones y sigamos trabajando en colectividad para la construcción de una memoria viva 🏡🌿</h3>
        </div>
    </div>
    <script>
        $('#customers-teams').owlCarousel({
            loop: true,
            center: true,
            items: 3,
            margin: 0,
            autoplay: true,
            dots: true,
            autoplayTimeout: 4500,
            checkVisibility: true,
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                1170: {
                    items: 3
                }
            }
        });
    </script>
</body>

