<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../dist/css/quienessomos.css">|
</head>
<body body style="background-image: url('images/cafe.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">

    <br>
    <br>
    <br>
    <br>

    <!-- Sección 1 - Visión -->
    <div class="section beige-light">
        <div class="content">
            <img src="~/images/VisionCasa.jpeg" width="250px" alt="Visión de la empresa">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium sed, aperiam voluptate ratione incidunt nobis molestiae aliquam! Voluptates sunt, soluta suscipit, amet quisquam quidem beatae, optio consequatur repudiandae natus id.</p>
        </div>
    </div>

    <!-- Sección 2 - Misión -->
    <div class="section blue-light even">
        <div class="content">
            <img src="~/images/CafeQuienesSomos.jpeg" width="250" alt="Misión de la empresa">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consequatur debitis vero incidunt dolorem aut dolores ipsum deleniti exercitationem molestiae accusamus ea aliquam culpa, totam eum dignissimos quisquam non nostrum!</p>
        </div>
    </div>

    <!-- Sección 3 - Quiénes Somos -->
    <div class="section green-light">
        <div class="content">
            <img src="~/images/CafeQuienesSomos.jpeg" width="250" alt="Quiénes Somos">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium commodi suscipit, blanditiis alias iste reiciendis quae reprehenderit, laboriosam sed unde debitis facilis, rerum molestias illo adipisci sapiente. Maiores, debitis! Soluta.</p>
        </div>
    </div>

    <!-- Sección 4 - Cómo Surgimos -->
    <div class="section purple-light even">
        <div class="content">
            <img src="~/images/ComoSurgimos.jpeg" width="250" alt="Cómo Surgimos">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus provident id ratione earum architecto deserunt cumque, corrupti neque qui cum, unde in? Obcaecati vero repudiandae eveniet sequi accusamus, impedit veritatis.</p>
        </div>
    </div>

</body>
</html>
