<body>
    <div class="container mt-cr">
        <div class="row">
            <div class="col-12">
                <h1>Café cultural </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <i class="fas fa-star" style="color: #F77F00-,"></i> Elevar la excelencia en nuestro servicio de café y en nuestra oferta gastronómica,
                    ofreciendo experiencias únicas y memorables que complementen la magia de nuestro espacio cultural y celebren
                    la diversidad de aromas, sabores y tradiciones, enriqueciendo así la visita de nuestros clientes.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4 class="fw-bold">Estrategias:</h4>
                <ul>
                    <li>Un bocado de historias</li>
                    <li>Eventos temáticos</li>
                    <li>Coworking</li>
                </ul>
            </div>
        </div>
    </div>
    
</body>
