<body>
    <div class="container mt-cr">
        <div class="row">
            <div class="col-12">
                <h1>Gestión Cultural</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <i class="fas fa-star" style="color:#F77F00;"></i> Fomentar la gestión cultural fortaleciendo la formación,
                    creación y circulación artística en la comunidad, a través de la colaboración con aliados estratégicos y la
                    organización de eventos culturales que celebren la diversidad y promuevan la participación activa de la
                    comunidad en la vida cultural local.


                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4 class="fw-bold">Estrategias:</h4>
                <ul>
                    <li>Escuela artes y oficios.</li>
                    <li>Micrófono abierto.</li>
                    <li>Circulo literario.</li>
                    <li>
                        Concurso de fotografía.
                    </li>
                    <li>
                        Galería de arte.
                    </li>
                    <li>
                        Festival de la memoria viva.
                    </li>
                    <li>Residencias artísticas.</li>
                </ul>
            </div>
        </div>

        <div class="row mt-5" style="background: #f9f9f9;padding-top:3em">
            <div class="col-12">
                <p class="text-center" style="width: 40vw;font-size: 20px;margin-left: 12vw;">
                    En Casa Relato, un rincón de luz y emoción,
                    la gestión cultural florece, como un jardín en canción,
                    un abrazo al arte y la historia, con devoción,
                    un puente entre el pasado y el futuro, sin distorsión.
                    <br /><br />
                    Es el arte que se funde en las paredes y rincones,
                    una danza de expresiones que se entrelazan como sones,
                    donde las palabras, las imágenes y las canciones,
                    tejen historias y sentimientos en todas direcciones.
                    <br /><br />
                    La gestión cultural, una guía que nos conduce,
                    a través de la memoria y el arte que nos seduce,
                    preservando tesoros, en cada rincón que se traduce,
                    en una historia que cobra vida, en cada musa que se reduce.
                    <br /><br />
                    Es el eco de voces antiguas que aún resuenan,
                    en cada exposición, en cada charla que se suceden,
                    en Casa Relato, la gestión cultural se estremece,
                    como un faro de cultura que al corazón enriquecen.
                    <br /><br />
                    Así, en este hogar de relatos y creaciones,
                    la gestión cultural es un faro de inspiraciones,
                    un lazo entre el pasado y las generaciones,
                    en Casa Relato, un refugio de emociones.

                </p>
            </div>
        </div>
    </div>
</body>