<body>
    <div class="container mt-cr">
        <div class="row">
            <div class="col-12">
                <h1>Movilización Social</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <i class="fas fa-star" style="color:#F77F00;"></i> Impulsar la movilización social activa y efectiva,
                    abordando temas críticos y promoviendo la participación informada de la comunidad en la agenda pública
                    mediante campañas pedagógicas, diálogo ciudadano y redes de colaboración.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4 class="fw-bold">Estrategias:</h4>
                <ul>
                    <li>Observatorio ciudadano.</li>
                    <li>
                        Espacio de Debate Público
                    </li>
                    <li>Bazares Memoria Viva.</li>
                    <li>
                        Apoyo a iniciativas comunitarias
                    </li>
                    <li>
                        Campañas de sensibilización social.
                    </li>
                    <li>
                        Prácticas de Responsabilidad Social.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mt-5" style="background: #f9f9f9;padding-top:3em">
            <div class="col-12">
                <p class="text-center" style="width: 40vw;font-size: 20px;margin-left: 12vw;">
                    En Casa Relato, Bello late con pasión,
                    la movilización social, un eco de unión,
                    un llamado a la acción, con determinación,
                    un canto de esperanza, una revolución.
                    <br /><br />
                    El corazón de la comunidad late en este lugar,
                    donde la movilización social es un viento a volar,
                    un abrazo solidario, un compromiso en el mar,
                    de cambios y de sueños que nadie puede frenar.
                    <br /><br />
                    Casa Relato es el epicentro, donde se teje el lazo,
                    la voz de los que buscan justicia y abrazo,
                    donde el arte y la cultura, como un abrazo,
                    se convierten en un grito, en un paso.
                    <br /><br />
                    Es la lucha por derechos, por igualdad,
                    la movilización social, una realidad,
                    en cada evento, en cada actividad,
                    Casa Relato es un faro de humanidad.
                    <br /><br />
                    En Bello, la comunidad se alza y camina,
                    en pos de un mundo mejor, en su rutina,
                    y Casa Relato es la fuente, la medicina,
                    donde la movilización social se hace divina.
                    <br /><br />
                    Así, en este hogar de relatos y cambios,
                    la movilización social traza sus rumbos extraños,
                    un camino de esperanza, un mar de arrobanza,
                    en Casa Relato, la movilización es la bonanza.

                </p>
            </div>
        </div>
    </div>
</body>