<br />
<br />
<br />
<br />

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../dist/css/Agenda.css">
</head>
<body>
    <div class=Fondo2>
        <div class="container mt-cr">
            <div class="row">
                <div class="col-12">
                    <h1 class="Titulo"> Agenda de Casa Relato</h1>
                    <hr>
                    <div class=Fondo3>
                        <h1 class="Titulo"> Horarios de atención</h1>
                        <div class=row>
                            <div class="col-12" class=Fondo2>
                                <h2 class="Titulo2"></h2>
                            </div>
                            <hr>
                            <div class=Fondo1>
                                <h2 class=Titulo> ¡¡¡Agenda de proximos eventos ofrecidos por Casa Relato!!! </h2>
                                <div class="Articulo">
                                    <img src="../images/slide-1.jpg" width="100" height="100">
                                    <div>
                                        <h2 class=Titulo2>Recorrido ciudadano</h2>
                                        <p class=Texto>Daremos un recorrido a travez de ciertas partes del parque de bello y sus alrededores, contando la historia de estos.</p>
                                        <p class="Fecha"> 15/09/2023 11:30</p>
                                    </div>
                                </div>

                                <div class="Articulo">
                                    <img src="../images/slide-2.jpg" width="100" height="100">
                                    <div>
                                        <h2 class="Titulo2">Noche de relatos</h2>
                                        <p class="Texto">Los participantes contaran sus propias historias, poemas o cuentos.</p>
                                        <p class="Fecha"> 018/09/2023 20:00</p>
                                    </div>
                                </div>
                                <div class="Articulo">
                                    <img src="../images/slide-3.jpg" width="100" height="100">
                                    <div>
                                        <h2 class="Titulo2">Acampada del Quitasol</h2>
                                        <p class="Texto">Entraremos en una gran excursion donde visitaremos el cerro del Quitasol, miraremos la cultura que hay detras y la importancia, con una acampada!</p>
                                        <p class="Fecha"> 30/09/2023 13:00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>